<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    h1{
        color: aqua;
        background-color: rgb(174, 0, 255);
        text-align: center;
    }
    h2{
        color: blue;
        background-color: rgb(251, 255, 0);
        text-align: center;
    }
    
    p{
        color: green;
    }
</style>
<body>
    <h1 class="h1">About</h1>
    <h2 class="h2">Ini Adalah Halaman About</h2>
    <p>Selamat datang di halaman About!</p>
</body>
</html>